.neighborhood {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	max-width: 300px;
	font-family: 'Cantarell';
	box-shadow: 0px 0px 15px #CDC5BF;
}

h1 {
	text-align: center;
	color: #CDC5BF;
}

#heading {
	margin-left: 30px;
}

#tweet {
	display: inline-block;
	float: right;
	margin-right: 145px;
}

.foggy-button, .foggy-count {
	float: right;
}

p {
	display: inline-block;
}

#the-presidio {
	back
}

#heading {
	font-family: 'Montserrat Alternates';
	color: grey;
}

.hood, .weather-heading, .search {
	font-family: 'Cantarell';
}

.hood {
	text-align: center;
	font-weight: bold;
	padding-bottom: 7px;
	border-bottom: 2px dashed pink;
	margin: 0px 10px;
}

#query {
	width: 200px;
	border-radius: 3px;
}

.search {
	margin-left: 40px;
	display: inline-block;
}

#wrapper {
	margin-left: 30px;
}

.weather-heading {
	padding: 8px;
	margin-top: 10px;
}

.sunny {
	background: url('sunny.jpg');
	box-shadow: 0px 0px 5px #1589FF;
	border-radius: 4px;
}

.foggy {
	background: url('fog.jpg');
	box-shadow: 0px 0px 25px #848482;
	border-radius: 4px;
}

#firebase {
	margin: 15px;
	text-align: center;
}